---
import DocumentLayout from "../layouts/DocumentLayout.astro";
---

<DocumentLayout>
  <h1 class="m-2 p-2">Astro</h1>
  <button data-request>Make a request</button>
  <script>
    import PocketBase from "pocketbase";

    const pb = new PocketBase("http://localhost:8090");

    const data = {
      username: "test_username",
      email: "test@example.com",
      emailVisibility: true,
      password: "12345678",
      passwordConfirm: "12345678",
      name: "test",
    };

    const record = pb
      .collection("users")
      .create(data)
      .then(console.log)
      .catch(console.error);

    pb.collection("users").getList().then(console.log).catch(console.error);
  </script>
</DocumentLayout>
