---
import EmailPasswordRegister from "../components/EmailPasswordRegister.astro";
import LogoutButton from "../components/LogoutButton.astro";
import OAuthLogin from "../components/OAuthLogin.astro";
import DocumentLayout from "../layouts/DocumentLayout.astro";
---

<DocumentLayout>
  <main class="flex justify-center">
    <div class="flex max-w-sm flex-col gap-2">
      <LogoutButton />
      <OAuthLogin />
      <EmailPasswordRegister />
    </div>
  </main>

  <script>
    import PocketBase from "pocketbase";

    const pb = new PocketBase("http://localhost:8090");

    pb.authStore.onChange(console.log);
  </script>
</DocumentLayout>
