<div class="card border border-slate-200">
  <form class="card-body" action="">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Username</span>
      </div>
      <input
        type="text"
        name="username"
        placeholder="Type here"
        autocomplete="username"
        class="input input-bordered w-full"
      />
    </label>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Email</span>
      </div>
      <input
        type="email"
        name="email"
        placeholder="Type here"
        autocomplete="email"
        class="input input-bordered w-full"
      />
    </label>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Password</span>
      </div>
      <input
        type="password"
        name="password"
        placeholder="Type here"
        autocomplete="new-password"
        class="input input-bordered w-full"
      />
    </label>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Confirm Password</span>
      </div>
      <input
        type="password"
        name="confirm-password"
        placeholder="Type here"
        autocomplete="new-password"
        class="input input-bordered w-full"
      />
    </label>

    <div class="form-control">
      <label class="label gap-2">
        <input type="checkbox" name="terms-and-conditions" class="checkbox" />
        <span class="label-text mr-auto">Terms & Conditions</span>
      </label>
    </div>

    <button class="btn btn-primary btn-block">Sign Up</button>
  </form>
</div>

<script>
  // const data = {
  //   username: "test_username",
  //   email: "test@example.com",
  //   emailVisibility: true,
  //   password: "12345678",
  //   passwordConfirm: "12345678",
  //   name: "test",
  // };

  // const record = pb
  //   .collection("users")
  //   .create(data)
  //   .then(console.log)
  //   .catch(console.error);
</script>
